/* Base Style */


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#menu {
    Margin: 30px 0px 40px;
}

h1 {
    Text-align: center;
}

.row {
    box-sizing: border-box;
    min-height: 500px;  

}
section {
    float: left;
    border: 2px solid black;
    width: 32%;
    margin: 0 0.66%;
    background-color: #999999;
}

.plato {
    float: right;
    background-color: aqua;
    min-width: 200px;
    text-align: center;
    font-weight: bold;  
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;
}


#chicken .plato{
    background-color: violet;
}
#beef .plato{
    background-color: red;
    color: white;
}   
#sushi .plato{
    background-color: yellowgreen;
}
.content{
  clear: both;  
  padding: 10px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    

    #sushi {
        width: 98%;
        margin: 20px 1% 0px ;

    }
    #beef, #chicken {
        width: 48%;
        margin: 1%;
    }

}


@media only screen and  (max-width: 767px) {
    

 section {

    width: 98%;
    margin: 20px 1% 0px ;
 }

}


