/* Base Style */

* {
    box-sizing: border-box;
}

div#menu {
    border: 0px;
    background-color: none;
    padding: 0px;
    margin: 0px;
    height: 20%;
    
}

h1 {
    Text-align: center;
}
.contenido {

width: 90%;
height: 150px;
margin-right: auto;
margin-left: auto;

}

.plato {
   position: relative;
   float: right;
   clear: both;
}

.row {

    width: 100%;
    
}

#Chiken{ 
    float: left; 
    width: 33.33%;
    background: #999999;
    border: 6px solid white; 
    height: 200px;
}

#Beef{ 
    float: left;
    width: 33.33%;;
    background: #999999;
    border: 6px solid white; 
    height: 200px;
}

#Sushi{ 
    float: left; 
    width: 33.33%; 
    background: #999999;
    border: 6px solid white; 
    height: 200px;
}